<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
</head>
{% extends "base_template.html" %}
{% block content %}
<h3>Informe detallado de asistencias de {{curso.anio}}°{{curso.division}}</h3>
      <div class="container">
         <table class="table">
            <thead class="table-dark">
            <tr>
               <th>Nombre </th>  
               <th>Apellido</th>   
               <th>Clases Aula Presente</th>
               <th>Clases Aula Ausente Justificadas</th>
               <th>Clases Aula Ausente Injustificadas</th>
               <th>Clases Ed. Física Presente</th>
               <th>Clases Ed. Física Ausente Justificadas</th>
               <th>Clases Ed. Física Ausente Injustificadas</th>
               <th>Total Inasistencias</th>
            </tr>
         </thead>
         <tbody>
<body>
    {% for estudiante in listado %}
               <tr>
                  <td>{{ estudiante.apellido}}  </td> 
                  <td>{{ estudiante.nombre}}  </td> 
                  <td>{{ estudiante.aula_presentes}}  </td> 
                  <td>{{ estudiante.aula_justificadas}}  </td> 
                  <td>{{ estudiante.aula_Injustificadas}}  </td> 
                  <td>{{ estudiante.ef_presentes}}  </td> 
                  <td>{{ estudiante.ef_justificadas}}  </td> 
                  <td>{{ estudiante.ef_Injustificadas}}  </td> 
                  <td>{{ estudiante.total}}  </td> 
               </tr>
    {% endfor %}
</body>
        </tbody>       
    </table>	  
<br><br>
</div>
{% endblock %}
</html>

<!-- La aplicación muestra, de cada estudiante cantidad de
clases de aula presente, cantidad de clases de educación
física presente, cantidad de clases de aula ausente
justificadas, cantidad de clases a clases de aula ausente
injustificadas, cantidad de clases de educación física
ausente justificadas, cantidad de clases a clases de
educación física injustificadas y cómputo de la cantidad
total de inasistencias.  -->
